.container {
    max-width: 64rem;
    min-width: 20rem;
    margin: auto;
    /*padding: 0 1rem;*/
    background-color: var(--main);
    position: relative;
    box-shadow: 0 0 0.625rem 0.5rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
    .container {
        display: flex;
    }
}